
<li>
        <a href="/createOffer">Create new offer</a>
    </li>
    <li class="site-logo">Shoe</li>
    <li>
        <a href="/home">
            <img href="/home" src="../public/sneakers.png " alt="/home">
        </a>
    </li>
    <li class="site-logo ">Shelf</li>
    <li>Welcome, {{email}} |
        <a href="/logout">Logout</a>
    </li>
<div class="shoes">

    {{> shoe }}
     
</div>
{{> footer}}
